.box {
  background-color: white;
  width: fit-content;
  height: 30rem;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  row-gap: 20px;
  padding: 20px;
  border-radius: 20px;
}
.textBox {
  overflow-y: scroll;
  margin-left: 10px;
  display: grid;
  width: 100%;
  justify-content:right;
  align-items: center;
  row-gap: 10px;
}
.messages {
  padding: 8px;
  width: 8rem;
  height: 1rem;
  border-radius: 10px;
  margin-left: auto;
  background-color: rgb(41, 105, 255);
  box-shadow: rgba(91, 91, 167, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  font-weight: 600;
  color: white;
  display: flex;
}
.inputBox {
  width: 17.5rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 0px;
}
.delIcon{
color:rgb(203, 203, 203) !important;
cursor: pointer  !important;
}
.delIcon:hover{
  color:grey  !important
}
.giphy{
  color:rgb(88, 88, 88)  !important;
cursor: pointer  !important;

}
.giphy:hover{
  color:rgb(31, 30, 30)  !important
}
.msgAndGif{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.gifs{
  display: grid;
  row-gap: 10px;
}
